body {
    margin: 0%;
    padding: 0%;
}
.main {
    display: flex;
    justify-content: space-between;
    padding: 0%;
}
.back {
    background-color: #211D1D;
    /**min-width: 643px;**/
    /**max-width: 800px;**/
    width: 50%;
    max-height: 1024px;
    gap: 0px;
    border-radius: 0px 20px 20px 0px;
    border: 0px 1px 0px 0px;
    margin-bottom: 0%;
    padding-left: 0%;
    /**float: left;**/
    
}
form {
    padding-top: 183px;
    padding-bottom: 165px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /**width: Fixed (477px)px;**/
}
h1 {
    margin-top: 0%;
    color: white;
    margin-bottom: -10px;
}
h2 {
    color: white;
    margin-bottom: 50px;
    font-weight: normal;
}
label {
    color: white;
}
input {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 95%;
    background: transparent;
    border-radius: 10px;
    border: 1px solid white;
    height: 50px;
    padding-left: 20px;
    color: white;
}
input::placeholder {
    color: white;
}
span {
    display: flex;
    color: rgb(142, 142, 155);
    margin-top: 5px;
}
hr {
    width: 45%;
    height: 1px;
    background-color: rgb(196, 181, 181);
    border-color: rgb(196, 181, 181);
}
#check {
    width: 15px;
    height: 15px;
    margin-top: -1px;
    background-color: #211D1D;
}
#forgot {
    margin-left: 60%;
}
button {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    border: rgb(3, 75, 77);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
button:hover {
    background-color: rgb(150, 127, 255);
}
p {
    font-size: 22px;
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 15%;
}
a {
    color: blue;
}
a:hover {
    color: aquamarine;
}
#or {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}
section {
    clear: both;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.continue {
    background-color: white;
    color: black;
    font-size: 18px;
    margin-right: 5px;
}
.continue img {
    margin-left: -12px;
    height: 25px;
    vertical-align: middle;
}
.Welcome {
   /** float: right;**/
    width: 50%;
    max-height: 1024px;
}
.welc {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.welc #backdrop {
    margin-top: 100px;
    width: 692px;
    height: 515.69px;
    /**margin-left: auto;
    margin-right: auto;**/
}
.welc h3 {
    font-size: 50px;
    color: blue;
    margin-bottom: 0%;
    padding-left: 100px;
    /**margin-left: auto;
    margin-right: auto;**/
}
.welc p{
    color: #858585;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 535px;
    height: 90px;
    padding-left: 100px;
    margin-bottom: 25%;
    /**margin-left: auto;
    margin-right: auto;**/
}
@media only screen and (max-width: 768px) {
    .main {
        display: block;
        padding-right: 0%;
        margin: 0%;
    }
    .back {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    .back form {
        width: 95%;
        padding-left: 5%;
        padding-top: 25%;
    }
    form input {
        width: 85%;
    }
    button {
        width: 92%;
    }
    .Welcome {
        width: 100%;
        padding-bottom: 20%;
    }
    .welc {
        width: 90%;
    }
    .welc #backdrop {
        width: 100%;
    }
    .welc h3 {
        width: 50%;
    }
    .welc p {
        width: 50%;
        text-wrap: left;
        padding-bottom: 25%;
    }
    #forgot {
        margin-left: 15%;
    }
    span, section {
        width: 95%;
    }
}