body {
    background-color: #212121;
    margin: 0%;
    padding: 0%;
}
.main {
    display: flex;
    padding: 100px 0px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
img {
    border: 0cm #212121;
    width: 70%;
}
form {
    background-color: white;
    padding-top: 183px;
    padding-bottom: 165px;
    border-radius: 20px;
    width: 30%;
    padding: 50px;
}
p {
    font-size: 20px;
}
input {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 95%;
    border-radius: 10px;
    border: 1px solid black;
    height: 50px;
    padding-left: 20px;
    color: black;
}
button {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: blue;
    color: whitesmoke;
    border: rgb(3, 75, 77);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
span {
    display: flex;
    color: rgb(142, 142, 155);
    margin-top: 5px;
}
hr {
    width: 215px;
    height: 1px;
    background-color: rgb(196, 181, 181);
    border-color: rgb(196, 181, 181);
}
#or {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
}
section {
    clear: both;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.continue {
    background-color: white;
    border: 1px solid black;
    color: black;
    font-size: 18px;
    margin-right: 5px;
    height: 100%;
    padding: 3%;
}
.continue img {
    margin-left: -12px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
@media only screen and (max-width: 768px) {
    .main {
        display: block;
    }
    img {
        width: 90%;
    }
    form {
        width: 70%;
    }
    p {
        width: 80%;
    }
    form input {
        width: 90%;
    }
    button {
        width: 100%;
    }
    span, section {
        width: 100%;
        height: fit-content;
    }
}