@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
:root {
    --primary-bg-color: #242d7b; /* Primary background color variable */
    --seconary-bg-color: rgba(0, 0, 0, 0.767); /* Secondary background color variable */
    --primary-text-color: #e6e6e6;   /* Text color variable */
    --secondary-text-color: rgba(0, 0, 0, 0.767); /* Text color variable */
    --tertiary-text-color:  #ed847e; /*#858585; Text color variable */
    --primary-font: 'Rubik'; /* Text font variable */
    --secondary-font: 'Poppins';
  }
* {
	font-family: var(--primary-font);
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    height: 90vh;
}

.navbar {
    background-color: var(--seconary-bg-color);
    color: var(--primary-text-color);
    font-size: 18px;
    padding: 10px 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    padding: 1.2rem 20px;
}

.logo a, .signs a {
    color: var(--primary-text-color);
    font-weight: bold;
    text-decoration: none;
}

.logo a {
    font-size: 24px;
}
.logo a:hover {
    text-decoration: none;
}

.menu {
    width: 60%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.menu li {
    margin-right: 20px;
}

.menu li a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
}

.signs {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: flex-end;
    width: 20%;

    /* border: 1px solid red; */
}

.signs button {
    border: none;
    background-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.signs button:last-child {
    background-color: var(--primary-bg-color);
}

.signs button:last-child:hover {
    background-color: var(--tertiary-text-color);
    transition: ease-in-out 0.5s;
}


.main {
    display: flex;
    justify-content: space-between;
    height: 80%;
    padding: 0%;
    width: 80%;
    box-shadow: gray 4px 4px 10px;
    border-radius: 10px;
    /* background-color: red; */
}
.back {
    /**min-width: 643px;**/
    /**max-width: 800px;**/
    width: 50%;
    gap: 0px;
    border-radius: 10px 0px 0px 10px;
    border: 0px 1px 0px 0px;
    margin-bottom: 0%;
    padding-left: 0%;
    padding-bottom: 10%;
    background-color: var(--primary-bg-color);
    /* background: linear-gradient(to bottom, var(--primary-bg-color) 45%, white 100%); */
}
form {
    padding-top: 183px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /**width: Fixed (477px)px;**/
}
h1 {
    margin-top: 0%;
    color: var(--primary-text-color);
    margin-bottom: -10px;
}
h2 {
    font-weight: normal;
    margin: 1.5rem 0rem 2.5rem;
    color: var(--primary-text-color);
    font-size: 1.4rem;
    font-weight: 500;
}
#email-input{
    margin-bottom: 1.5rem;
}
#password-input{
    margin-bottom: 0.5rem;
}
label {
    color: var(--primary-text-color);
    font-weight: 500;
    display: block;
}
.rolecheck {
    width: 33%;
    height: 10%;
    margin-right: -13%;
}
input {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 95%;
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.445);
    height: 50px;
    padding-left: 20px;
    color: var(--primary-text-color);
    outline: none;
    font-size: 1.1rem;
}
.remember-forget{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.remember-forget div:first-child {
    display: flex;
    width: 30%;
}
.remember-forget div input {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 10%;
    margin-right: 10px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.445);
    padding-left: 20px;
    height: inherit;
    color: var(--primary-text-color);
    outline: none;
    font-size: 1.1rem;

}
input::placeholder {
    color: var(--primary-text-color);
}

#signin-btn {
    width: 95%;
    height: 50px;
    text-align: center;
    background-color: var(--seconary-bg-color);
    color: whitesmoke;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
    font-weight: 500;
}
#signin-btn:hover {
    background-color: transparent;
    border: 1px solid var(--primary-text-color);
}
p {
    font-size: 22px;
    text-align: center;
    color: white;
    margin-top: 2%;
    margin-bottom: 15%;
}
a {
    color: var(--primary-text-color);
}
div > a:hover, p > a:hover {
    text-decoration: underline;
}

.register-link a {
    color: var(--tertiary-text-color);
}

.error {
    color: crimson;
    margin-bottom: 10px;
    display: none;
    font-size: 18px;
  }

.Welcome {
   /** float: right;**/
    width: 50%;
    display: flex;
    justify-content: center;
}
.welc {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.welc #backdrop {
    margin-top: 100px;
    width: 100%;
    height: auto;
    /* border: 0.5px solid var(--tertiary-text-color); */
    border-radius: 10px;
}
.welc #backdrop img {
    width: 100%;
}
.welc h3 {
    font-size: 50px;
    color: var(--primary-bg-color);
    margin: 1rem 0;
    text-align: center;
}
.welc p{
    color: var(--tertiary-text-color);
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    text-align: center;
    height: 90px;
    margin-bottom: 25%;
}
@media only screen and (max-width: 768px) {
    body{
        height: unset;
    }
    .main {
        flex-direction: column;
        padding-right: 0%;
        margin: 0%;
        width: 100%;
    }
    .back {
        width: 100%;
        height: 60vh;
        margin: 0%;
        padding: 0%;
        padding-bottom: 20%;
        border-radius: unset;

    }
    .back form {
        width: 95%;
        padding-left: 5%;
        padding-top: 25%;
    }
    form input, button {
        width: 95%;
    }
    .Welcome {
        display: none;
    }
    .welc {
        width: 90%;
    }
    .welc #backdrop {
        width: 100%;
    }
    .welc h3 {
        width: 50%;
    }
    .welc p {
        width: 50%;
        text-wrap: left;
        padding-bottom: 25%;
    }
    #forgot {
        margin-left: 15%;
    }
    span, section {
        width: 95%;
    }
    .rolecheck {
        width: 10%;
        margin-right: 0%;
    }
}